*{
    background-image: url(photo-1574267432644-f410f8ec2474.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.tsp{
    color: white;
    background: transparent;
}